Microsoft.Flow/flows/7c48609c-039e-4a01-929d-946ed880e14f/definition.json
{"name":"88a82008-8d2a-46c6-9502-0c094642355b","id":"/providers/Microsoft.Flow/flows/88a82008-8d2a-46c6-9502-0c094642355b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"submitChange01","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"f651fa24-c98f-42c3-a41e-970c748acebf","type":"User","tenantId":"a0c0bde4-69bd-4066-b478-0668f7f2cc6c"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2019-10-29T18:59:59.8418057Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Initializevariable2_Value":{"type":"string"},"employeeId_Value":{"type":"integer","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"effectiveDate_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"reasonForChange_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"sapJobTitle_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"positionText_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"supervisorId_Value":{"type":"integer","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"costCenter_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"rateOfPay_Value":{"type":"integer","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"replacementReq_Value":{"type":"boolean","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"positionNumber_Value":{"type":"integer","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"comments_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["Initializevariable2_Value","employeeId_Value","effectiveDate_Value","reasonForChange_Value","sapJobTitle_Value","positionText_Value","supervisorId_Value","costCenter_Value","rateOfPay_Value","replacementReq_Value","positionNumber_Value","comments_Value"]}}}},"actions":{"employeeId":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"employeeId","type":"Integer","value":"@triggerBody()['employeeId_Value']"}]}},"effectiveDate":{"runAfter":{"employeeId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"effectiveDate","type":"String","value":"@triggerBody()['effectiveDate_Value']"}]}},"reasonForChange":{"runAfter":{"effectiveDate":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"reasonForChange","type":"String","value":"@triggerBody()['reasonForChange_Value']"}]}},"sapJobTitle":{"runAfter":{"reasonForChange":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"sapJobTitle","type":"String","value":"@triggerBody()['sapJobTitle_Value']"}]}},"positionText":{"runAfter":{"sapJobTitle":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"positionText","type":"String","value":"@triggerBody()['positionText_Value']"}]}},"supervisorId":{"runAfter":{"positionNumber":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"supervisorId","type":"Integer","value":"@triggerBody()['supervisorId_Value']"}]}},"costCenter":{"runAfter":{"supervisorId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"costCenter","type":"String","value":"@triggerBody()['costCenter_Value']"}]}},"rateOfPay":{"runAfter":{"costCenter":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"rateOfPay","type":"Integer","value":"@triggerBody()['rateOfPay_Value']"}]}},"replacementReq":{"runAfter":{"rateOfPay":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"replacementReq","type":"Boolean","value":"@triggerBody()['replacementReq_Value']"}]}},"positionNumber":{"runAfter":{"positionText":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"positionNumber","type":"Integer","value":"@triggerBody()['positionNumber_Value']"}]}},"comments":{"runAfter":{"replacementReq":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"comments","type":"String","value":"@triggerBody()['comments_Value']"}]}},"Send_an_email_notification_(V3)":{"runAfter":{"comments":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sendmail']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sendmail"}},"method":"post","body":{"to":"charles.adoki@dvn.com;","subject":"This is a test","text":"<p>@{variables('positionText')}<br>\n@{variables('sapJobTitle')}</p>","ishtml":true},"path":"/v3/mail/send","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"connectionReferences":{"shared_sendmail":{"connectionName":"shared-sendmail-edb4b726-f9f4-4ec9-8e5a-f4e1de2e910a","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}